:root {
    --background-color: rgba(250,250,250,1);
    --buttonColor: #EC7028;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background: silver;
}

.content {
    /* margin: 0px 120px; */
    background: white;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
    " nav nav nav nav nav nav "
    " header header header header header header "
    " sub-menu sub-menu sub-menu sub-menu sub-menu sub-menu "
    " section section section section section section "
    " main main main main main main "
    " aside aside aside aside aside aside "
    ;
}

nav {
    grid-area: nav;
}

.search {
    padding: 3px 12px;
}

#menu-button {
    cursor: pointer;
    font-size: 2em;
    /* display: none; */
}

.search ul li {
    display: inline;
}

.search ul li input {
    margin: 6px;
    padding: 3px 12px;
    border-radius: 6px 0px 0px 0px;
}

.search ul li button {
    padding: 3px;
    padding-bottom: 6px;
    border-radius: 0px;
}

.search ul li img {
    width: 18px;
    height: 18px;
}


.menu {
    display: none;
    padding: 3px 12px;
    float: right;
    background: var(--buttonColor);
    border-radius: 6px 0px 0px 0px;
}

.menu ul li {
    list-style: none;
    display: inline;
    padding: 0px 12px;
}

.menu ul li a {
    color: white;
}

.mobile-menu {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0,0,0,0.4);
}

.mobile-menu button {
    display: block;
    padding: 9px 10px;
    margin: 24px auto;
    width: 60%;
    padding: 12px 36px;
    cursor: pointer;
}

header {
    grid-area: header;
    text-align: center;
}

main {
    grid-area: main;
}

main ul li {
    margin: 6px;
    list-style: none;
}

main ul li input {
    margin: 6px;
    padding: 6px 12px;
    border-radius: 6px 0px 0px 0px;
}

main p {
    text-align: center;
}

.form {
    margin: 6px auto;
    text-align: center;
}

footer {
    margin-top: 30px;
    border-top: 1px solid gold;
    background: #F5F6F7;
    text-align: center;
    width: 100%;
}

footer p {
    padding: 60px;
}

button {
    display: inline-block;
	outline: none;
	cursor: pointer;
    background: var(--buttonColor);
    color: white;
	text-align: center;
	text-decoration: none;
    /* border: 1px solid gold; */
    font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

#Title {
    width: 180px;
    padding: 3px 12px;
}

.error {
    color: red;
}

/* Styles for tablets */
@media screen and (min-width: 768px) {

}


/*styles for computers*/
@media screen and (min-width: 992px) {
    #menu-button {
        display: none;
    }

    .menu {
        display: block;
    }
}
